DJANGO_SECRET_KEY=r6bncx^3v1=simd1ahev^d@y8)s-ai0^zudfm%xkgbc%_jr!$0
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

DB_NAME=luxvision_dev
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432

DATABASE_URL=

CORS_ALLOWED_ORIGINS=http://localhost:3000

EMAIL_HOST=
EMAIL_PORT=587
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=